<template>
  <div class="overflow-hidden shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 md:rounded-lg bg-white dark:bg-slate-800 py-5 px-10">
    <div class="space-y-6 sm:space-y-5">
      <div class="sm:grid sm:grid-cols-3 lg:grid-cols-4 sm:items-start sm:gap-4 sm:pt-5">
        <label for="signer" class="block text-sm font-medium text-gray-700 dark:text-gray-200 sm:mt-px sm:pt-2">Signer Account</label>
        <div class="mt-1 sm:col-span-2 lg:col-span-3 sm:mt-0">
          <input
            v-model="username"
            type="text"
            name="signer"
            id="signer"
            autocomplete="no"
            class="w-full rounded-md border dark:text-gray-300 border-gray-300 dark:border-slate-500 bg-white dark:bg-slate-800 py-2 pl-3 pr-10 shadow-sm focus:border-emerald-500 dark:focus:border-emerald-100 focus:outline-none focus:ring-1 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:text-sm"
          />
        </div>
      </div>

      <div v-if="!isSign" class="sm:grid sm:grid-cols-3 lg:grid-cols-4 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 dark:border-gray-700 sm:pt-5">
        <label for="operation" class="block text-sm font-medium text-gray-700 dark:text-gray-200 sm:mt-px sm:pt-2">Operation</label>
        <div class="mt-1 sm:col-span-2 lg:col-span-3 sm:mt-0">
          <OptionsDropdown name="operation" :current="selectedOp" :elements="allowedOps" @change="selected => (selectedOp = selected)"></OptionsDropdown>
        </div>
      </div>
      <div v-else class="sm:grid sm:grid-cols-3 lg:grid-cols-4 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 dark:border-gray-700 sm:pt-5">
        <label for="operation" class="block text-sm font-medium text-gray-700 dark:text-gray-200 sm:mt-px sm:pt-2">Operation</label>
        <div class="mt-1 sm:col-span-2 lg:col-span-3 sm:mt-0">
          <span class="block text-sm text-gray-700 dark:text-gray-200 sm:mt-px sm:pt-2"
            ><code class="font-medium">{{ selectedOp }}</code></span
          >
        </div>
      </div>

      <template v-if="selectedOpDetails && selectedOpDetails.params">
        <div
          v-for="param in selectedOpDetails.params"
          :key="param"
          class="sm:grid sm:grid-cols-3 lg:grid-cols-4 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 dark:border-gray-700 sm:pt-5"
        >
          <label :for="param" class="block text-sm font-medium text-gray-700 dark:text-gray-200 sm:mt-px sm:pt-2">{{ splitAndCapitalize(param) }}</label>
          <div class="mt-1 sm:col-span-2 lg:col-span-3 sm:mt-0">
            <input
              v-model="selectedOpParams[param]"
              type="text"
              :name="param"
              :id="param"
              autocomplete="no"
              class="w-full rounded-md border dark:text-gray-300 border-gray-300 dark:border-slate-500 bg-white dark:bg-slate-800 py-2 pl-3 pr-10 shadow-sm focus:border-emerald-500 dark:focus:border-emerald-100 focus:outline-none focus:ring-1 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:text-sm"
              :readonly="isSign"
              :disabled="isSign"
            />
          </div>
        </div>
      </template>
    </div>

    <div class="mt-6 text-center">
      <button
        @click="signAndShare()"
        type="button"
        class="inline-flex items-center rounded-md border border-transparent px-6 py-3 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100"
      >
        Sign
      </button>
    </div>

    <div v-if="isSign" class="mt-6">
      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300 dark:border-gray-500" />
        </div>
        <div class="relative flex justify-center">
          <span class="bg-white dark:bg-slate-800 px-2 text-sm text-gray-500 dark:text-gray-300">Details</span>
        </div>
      </div>

      <div class="px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200 sm:dark:divide-gray-700">
          <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Signatures:</dt>
            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:col-span-2 sm:mt-0 whitespace-pre-wrap break-all">
              {{ isSignDecoded.signatures.join(', ') }}
            </dd>
          </div>
          <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Expiration</dt>
            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:col-span-2 sm:mt-0">{{ isSignDecoded.expiration }}</dd>
          </div>
        </dl>
      </div>
    </div>

    <div
      v-if="signResultMessage.message"
      @click="copyOnClick(signResultMessage.url)"
      class="rounded-md p-4 mt-6"
      :class="[
        { 'bg-green-50 dark:bg-green-900 cursor-pointer': signResultMessage.type === 'success' },
        { 'bg-red-50 dark:bg-red-900': signResultMessage.type === 'error' },
        { 'bg-blue-50 dark:bg-blue-900': !['success', 'error'].includes(signResultMessage.type) }
      ]"
    >
      <div class="flex">
        <div class="flex-shrink-0">
          <CheckCircleIcon v-if="signResultMessage.type === 'success'" class="h-5 w-5 text-green-400 dark:text-green-200" aria-hidden="true" />
          <XCircleIcon v-else-if="signResultMessage.type === 'error'" class="h-5 w-5 text-red-400 dark:text-red-200" aria-hidden="true" />
          <InformationCircleIcon v-else class="h-5 w-5 text-blue-400 dark:text-blue-200" aria-hidden="true" />
        </div>
        <div class="ml-3">
          <div
            class="text-sm"
            :class="[
              { 'text-green-700 dak-text-green-300': signResultMessage.type === 'success' },
              { 'text-red-700 dark:text-red-300': signResultMessage.type === 'error' },
              { 'text-blue-700 dark:text-blue-300': !['success', 'error'].includes(signResultMessage.type) }
            ]"
          >
            <pre class="whitespace-pre-wrap break-all">{{ signResultMessage.message }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { CheckCircleIcon, InformationCircleIcon, XCircleIcon } from '@heroicons/vue/solid'
  import { Operation, OperationName } from '@hiveio/dhive'
  import { splitAndCapitalize } from '~/common/helpers/formatter'
  import { hasEnoughSignatures, prepareTrx, signTrx, sendTrx } from '~/common/api/hiveApi'
  import { operations } from '~/common/helpers/operations'

  const props = defineProps<{
    encoded?: string
  }>()

  const isSign = computed(() => (props.encoded ? true : false))

  const allowedOps = operations.filter(op => op.multisign).map(op => ({ ...op, name: op.operation, value: op.operation }))

  const username = ref('')
  const selectedOp = ref('vote')
  const selectedOpDetails = computed(() => allowedOps.find((op: any) => op.name === selectedOp.value))
  const selectedOpParams = ref({})

  if (!isSign.value) {
    watch(selectedOp, () => {
      const opParams = {}
      selectedOpDetails?.value?.params.forEach((p: string) => (opParams[p] = ''))
      selectedOpParams.value = opParams
    })
  }

  const signResultMessage = ref({ type: 'none', message: '' })

  const isSignDecoded = computed(() => (props.encoded ? JSON.parse(atob(props.encoded)) : null))

  if (isSign.value) {
    selectedOp.value = isSignDecoded.value.operations[0][0]
    selectedOpParams.value = isSignDecoded.value.operations[0][1]
  }

  const signAndShare = async () => {
    signResultMessage.value = { type: 'info', message: 'Preparing transaction' }

    try {
      const operationPayload = selectedOpDetails.value.prepare ? selectedOpDetails.value.prepare(selectedOpParams.value) : selectedOpParams.value
      const operation: Operation = [selectedOp.value as OperationName, operationPayload]

      const trx = isSign.value ? JSON.parse(atob(props.encoded)) : await prepareTrx([operation])
      const signRes = await signTrx(username.value, trx, selectedOpDetails?.value?.roles[0] || 'active')
      if (signRes.error) {
        signResultMessage.value = { type: 'error', message: `Error: ${signRes.error}` }
        return
      }

      const signedTrx = signRes.result

      if (await hasEnoughSignatures(signedTrx)) {
        try {
          const broadcastRes = await sendTrx(signedTrx)
          if (broadcastRes && broadcastRes.id) {
            signResultMessage.value = { type: 'info', message: `Transaction sent!\nTrx ID: ${broadcastRes.id}` }
          }
        } catch (broadcastErr: any) {
          console.error('Error broadcasting trx: ', broadcastErr)

          if (broadcastErr.message.match('Duplicate transaction check failed').length) {
            signResultMessage.value = { type: 'error', message: `Error while sending the transaction:\nDuplicate: the transaction has already been sent` }
          } else {
            signResultMessage.value = { type: 'error', message: `Error while sending the transaction:\n${JSON.stringify(broadcastErr)}` }
          }
        }
      } else {
        const encoded = btoa(JSON.stringify(signedTrx))

        const appUrl = `${window.location.protocol}//${window.location.hostname}${window.location.port ? ':' + window.location.port : ''}`
        signResultMessage.value = {
          type: 'success',
          message: `The transaction requires additional signatures.\nShare this link with the other key holders to continue (click to copy):\n\n${appUrl}/multisign/${encoded}`,
          url: `${appUrl}/multisign/${encoded}`
        }
      }
    } catch (signErr: any) {
      console.error('Error signing trx: ', signErr)
      signResultMessage.value = { type: 'error', message: `Error while signing the transaction:\n${JSON.stringify(signErr)}` }
    }
  }

  const copyOnClick = async text => {
    if (text) {
      await navigator.clipboard.writeText(text)
      alert('URL copied to clipboard')
    }
  }
</script>
