<template>
  <div class="-mt-8 sm:-mt-5">
    <dl class="rounded-lg bg-black/20 ring-1 ring-white ring-opacity-20 grid grid-cols-2 sm:grid-cols-4">
      <div class="flex flex-col justify-center border-b border-gray-100/10 px-4 py-3 text-center border-0 border-r">
        <dt class="px-3 text-center text-sm font-semibold text-gray-300">HIVE/USD</dt>
        <dd class="mb-1 mt-1 px-3 text-xl text-center font-semibold text-emerald-400 flex justify-center items-center">
          <span v-if="marketStore.market.marketStats.hiveUsd" @click="marketStore.setHIVEHBD(parseFloat(marketStore.market.marketStats.hiveUsd))"
            >$ {{ marketStore.market.marketStats.hiveUsd }}</span
          >
          <span v-else>...</span>
        </dd>
        <dt class="px-3 text-center text-xs font-semibold">
          <Menu as="div" class="relative inline-block text-left ml-1">
            <div>
              <MenuButton class="bg-transparent rounded-full flex items-center text-gray-300 hover:text-gray-200">
                Using {{ marketStore.market.marketStats.hiveUsdSource }}
                <ChevronDownIcon class="h-5 w-5 ml-1" aria-hidden="true" />
              </MenuButton>
            </div>

            <transition
              enter-active-class="transition ease-out duration-100"
              enter-from-class="transform opacity-0 scale-95"
              enter-to-class="transform opacity-100 scale-100"
              leave-active-class="transition ease-in duration-75"
              leave-from-class="transform opacity-100 scale-100"
              leave-to-class="transform opacity-0 scale-95"
            >
              <MenuItems
                class="origin-top-right absolute mt-2 w-56 rounded-md shadow-lg bg-white dark:bg-slate-800 ring-1 ring-black dark:ring-emerald-400 ring-opacity-5 focus:outline-none z-10"
              >
                <div class="py-1">
                  <MenuItem v-slot="{ active }">
                    <a
                      href="#"
                      @click="onClickHbdUsdForHiveUsdCoingecko"
                      :class="[
                        active ? 'bg-gray-100 dark:bg-slate-700 text-gray-900 dark:text-gray-100' : 'text-gray-700 dark:text-gray-400',
                        'block px-4 py-2 text-sm'
                      ]"
                      >Coingecko (HBD)</a
                    >
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                    <a
                      href="#"
                      @click="onClickHiveUsdCoingecko"
                      :class="[
                        active ? 'bg-gray-100 dark:bg-slate-700 text-gray-900 dark:text-gray-100' : 'text-gray-700 dark:text-gray-400',
                        'block px-4 py-2 text-sm'
                      ]"
                      >Coingecko (HIVE)</a
                    >
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                    <a
                      href="#"
                      @click="onClickHbdUsdforHiveUsdWitnesses"
                      :class="[
                        active ? 'bg-gray-100 dark:bg-slate-700 text-gray-900 dark:text-gray-100' : 'text-gray-700 dark:text-gray-400',
                        'block px-4 py-2 text-sm'
                      ]"
                      >Witnesses (HBD)</a
                    >
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                    <a
                      href="#"
                      @click="onClickHiveUsdWitnesses"
                      :class="[
                        active ? 'bg-gray-100 dark:bg-slate-700 text-gray-900 dark:text-gray-100' : 'text-gray-700 dark:text-gray-400',
                        'block px-4 py-2 text-sm'
                      ]"
                      >Witnesses (HIVE)</a
                    >
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                    <a
                      href="#"
                      @click="onClickHbdUsdForHiveUsdCustom"
                      :class="[
                        active ? 'bg-gray-100 dark:bg-slate-700 text-gray-900 dark:text-gray-100' : 'text-gray-700 dark:text-gray-400',
                        'block px-4 py-2 text-sm'
                      ]"
                      >Custom (HBD)</a
                    >
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                    <a
                      href="#"
                      @click="onClickHiveUsdCustom"
                      :class="[
                        active ? 'bg-gray-100 dark:bg-slate-700 text-gray-900 dark:text-gray-100' : 'text-gray-700 dark:text-gray-400',
                        'block px-4 py-2 text-sm'
                      ]"
                      >Custom (HIVE)</a
                    >
                  </MenuItem>
                </div>
              </MenuItems>
            </transition>
          </Menu>
        </dt>
      </div>

      <div class="flex flex-col justify-center border-b border-gray-100/10 px-4 py-3 text-center border-0 border-r">
        <dt class="px-3 text-center text-sm font-semibold text-gray-300">HBD/USD</dt>
        <dd class="mb-1 mt-1 px-3 text-xl text-center font-semibold text-emerald-400 flex justify-center items-center">
          <span v-if="marketStore.market.marketStats.hbdUsd">$ {{ marketStore.market.marketStats.hbdUsd }}</span>
          <span v-else>...</span>
        </dd>
        <dt class="px-3 text-center text-xs font-semibold">
          <Menu as="div" class="relative inline-block text-left ml-1">
            <div>
              <MenuButton class="bg-transparent rounded-full flex items-center text-gray-300 hover:text-gray-200">
                Using {{ marketStore.market.marketStats.hbdUsdSource }}
                <ChevronDownIcon class="h-5 w-5 ml-1" aria-hidden="true" />
              </MenuButton>
            </div>

            <transition
              enter-active-class="transition ease-out duration-100"
              enter-from-class="transform opacity-0 scale-95"
              enter-to-class="transform opacity-100 scale-100"
              leave-active-class="transition ease-in duration-75"
              leave-from-class="transform opacity-100 scale-100"
              leave-to-class="transform opacity-0 scale-95"
            >
              <MenuItems
                class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white dark:bg-slate-800 ring-1 ring-black dark:ring-emerald-400 ring-opacity-5 focus:outline-none z-10"
              >
                <div class="py-1">
                  <MenuItem v-slot="{ active }">
                    <a
                      href="#"
                      @click="onClickHbdUsdCoingecko"
                      :class="[
                        active ? 'bg-gray-100 dark:bg-slate-700 text-gray-900 dark:text-gray-100' : 'text-gray-700 dark:text-gray-400',
                        'block px-4 py-2 text-sm'
                      ]"
                      >Coingecko (HBD)</a
                    >
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                    <a
                      href="#"
                      @click="onClickHiveUsdCoingeckoForHbdUsd"
                      :class="[
                        active ? 'bg-gray-100 dark:bg-slate-700 text-gray-900 dark:text-gray-100' : 'text-gray-700 dark:text-gray-400',
                        'block px-4 py-2 text-sm'
                      ]"
                      >Coingecko (HIVE)</a
                    >
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                    <a
                      href="#"
                      @click="onClickHiveUsdForHbdUsdWitnesses"
                      :class="[
                        active ? 'bg-gray-100 dark:bg-slate-700 text-gray-900 dark:text-gray-100' : 'text-gray-700 dark:text-gray-400',
                        'block px-4 py-2 text-sm'
                      ]"
                      >Witnesses (HBD)</a
                    >
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                    <a
                      href="#"
                      @click="onClickHbdUsdWitnesses"
                      :class="[
                        active ? 'bg-gray-100 dark:bg-slate-700 text-gray-900 dark:text-gray-100' : 'text-gray-700 dark:text-gray-400',
                        'block px-4 py-2 text-sm'
                      ]"
                      >Witnesses (HIVE)</a
                    >
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                    <a
                      href="#"
                      @click="onClickHbdUsdCustom"
                      :class="[
                        active ? 'bg-gray-100 dark:bg-slate-700 text-gray-900 dark:text-gray-100' : 'text-gray-700 dark:text-gray-400',
                        'block px-4 py-2 text-sm'
                      ]"
                      >Custom (HBD)</a
                    >
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                    <a
                      href="#"
                      @click="onClickHiveUsdForHbdUsdCustom"
                      :class="[
                        active ? 'bg-gray-100 dark:bg-slate-700 text-gray-900 dark:text-gray-100' : 'text-gray-700 dark:text-gray-400',
                        'block px-4 py-2 text-sm'
                      ]"
                      >Custom (HIVE)</a
                    >
                  </MenuItem>
                </div>
              </MenuItems>
            </transition>
          </Menu>
        </dt>
      </div>

      <div class="hidden items-center sm:flex flex-col justify-center border-b border-gray-100/10 px-4 py-3 text-center border-0 border-r">
        <dt class="px-3 text-center text-sm font-semibold text-gray-300 flex">
          Last Trade Ratios
          <div class="relative flex flex-col items-center group ml-1">
            <QuestionMarkCircleIcon class="h-5 w-5 text-gray-500 dark:text-gray-300" />
            <div class="absolute w-96 max-w-lg bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
              <span
                class="relative z-10 p-2 text-sm leading-none text-white dark:text-slate-800 whitespace-no-wrap bg-slate-800 dark:bg-gray-50 shadow rounded-md"
                >Ratios derived from the most recent trade from the internal market. Both HBD per HIVE and HIVE per HBD ratios are derived from the last trade
                on the history of the internal market.</span
              >
              <div class="w-3 h-3 -mt-2 rotate-45 bg-slate-800 dark:bg-slate-700"></div>
            </div>
          </div>
        </dt>

        <dd class="mt-1 px-3 text-xl text-center font-semibold text-emerald-400">
          <span v-if="hivePrice && hbdPrice && tradeHistory.at(0)" @click="marketStore.setHIVEHBD(parseFloat(hbdPerHive) || 0)" class="grid grid-cols-2">
            <span class="justify-self-start">{{ parseFloat(tradeHistory.at(0).HBD / tradeHistory.at(0).HIVE).toFixed(4) }}</span>
            <span class="self-center text-sm font-semibold text-gray-300">HBD per HIVE</span>
          </span>
          <span v-else class="text-gray-300">...</span>
        </dd>
        <dd class="px-3 text-xl text-center font-semibold text-emerald-400">
          <span v-if="hivePrice && hbdPrice && tradeHistory.at(0)" @click="marketStore.setHBDHIVE(parseFloat(hivePerHbd) || 0)" class="grid grid-cols-2">
            <span class="justify-self-start">{{ parseFloat(tradeHistory.at(0).HIVE / tradeHistory.at(0).HBD).toFixed(4) }}</span>
            <span class="self-center text-sm font-semibold text-gray-300"> HIVE per HBD </span>
          </span>
          <span v-else class="text-gray-300">...</span>
        </dd>
        <!-- <dt class="px-3 text-center text-xs font-semibold text-gray-300">{{ hbdPerHiveSource }}</dt> -->
      </div>

      <div class="hidden items-center sm:flex flex-col justify-center border-b border-gray-100/10 px-4 py-3 text-center border-0 border-r">
        <dt class="px-3 text-center text-sm font-semibold text-gray-300 flex">
          Order book spread
          <div class="relative flex flex-col items-center group ml-1">
            <QuestionMarkCircleIcon class="h-5 w-5 text-gray-500 dark:text-gray-300" />
            <div class="absolute w-96 max-w-lg bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
              <span
                class="relative z-10 p-2 text-sm leading-none text-white dark:text-slate-800 whitespace-no-wrap bg-slate-800 dark:bg-gray-50 shadow rounded-md"
                >The HBD per HIVE ratio of the next best trade on both bid and ask books.</span
              >
              <div class="w-3 h-3 -mt-2 rotate-45 bg-slate-800 dark:bg-slate-700"></div>
            </div>
          </div>
        </dt>
        <dd class="mt-1 px-3 text-xl text-center font-semibold text-emerald-400">
          <span
            v-if="marketStore.market.orderBook.asks.at(0) && marketStore.market.orderBook.bids.at(0)"
            @click="marketStore.setHIVEHBD(parseFloat(marketStore.market.orderBook.bids.at(0).real_price))"
            class="grid grid-cols-2"
          >
            <span class="justify-self-start">{{ parseFloat(marketStore.market.orderBook.bids.at(0).real_price).toFixed(4) }}</span>
            <span class="self-center text-sm font-semibold text-gray-300">Sell HIVE</span>
          </span>
          <span v-else class="text-gray-300">...</span>
        </dd>
        <dd class="px-3 text-xl text-center font-semibold text-emerald-400">
          <span
            v-if="marketStore.market.orderBook.asks.at(0) && marketStore.market.orderBook.bids.at(0)"
            @click="marketStore.setHBDHIVE(1 / parseFloat(marketStore.market.orderBook.asks.at(0).real_price))"
            class="grid grid-cols-2"
          >
            <span class="justify-self-start">{{ parseFloat(marketStore.market.orderBook.asks.at(0).real_price).toFixed(4) }}</span>
            <span class="self-center text-sm font-semibold text-gray-300"> Buy HIVE </span>
          </span>
          <span v-else class="text-gray-300">...</span>
        </dd>
      </div>
    </dl>
  </div>
</template>

<script setup lang="ts">
  import { Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
  import { ChevronDownIcon } from '@heroicons/vue/solid'
  import { getVolume, getWitnesses } from '~/common/api/hiveApi'
  import { useTokenPricesStore } from '~/stores/tokenPrices'
  import { useMarketStore } from '~/stores/market'
  import { QuestionMarkCircleIcon } from '@heroicons/vue/solid'
  import { debounce } from 'vue-debounce'

  const marketStore = useMarketStore()
  const volumes = ref({})

  const refreshTimer = ref()

  const hbdPerHive = ref('')
  // const hbdPerHiveSource = ref('Internal Market')

  const hivePerHbd = ref('')
  // const hivePerHbdSource = ref('Internal Market')

  const tradeHistory = ref<
    Array<{
      date: string
      HBD: number
      HIVE: number
      current_pays: string
      open_pays: string
      maker: string
      taker: string
    }>
  >([])

  const tokenPricesStore = useTokenPricesStore()
  const hivePrice = computed(() => tokenPricesStore.hivePrice)
  const hbdPrice = computed(() => tokenPricesStore.hbdPrice)

  const onClickHiveUsdCoingecko = async () => {
    await tokenPricesStore.refreshTokenPrices()
    marketStore.market.marketStats.hiveUsd = tokenPricesStore.hivePrice?.toFixed(4)
    marketStore.market.marketStats.hiveUsdSource = 'CoinGecko (HIVE)'
  }

  const onClickHbdUsdForHiveUsdCoingecko = async () => {
    await tokenPricesStore.refreshTokenPrices()
    await marketStore.updateTradeHistory()
    const lastTrade = marketStore.market.tradeHistory.at(-1)
    const hiveAmount = lastTrade.current_pays.includes('HIVE') ? lastTrade.current_pays.split(' ')[0] : lastTrade.open_pays.split(' ')[0]
    const hbdAmount = lastTrade.current_pays.includes('HBD') ? lastTrade.current_pays.split(' ')[0] : lastTrade.open_pays.split(' ')[0]
    const hbdPerHive = parseFloat(hbdAmount) / parseFloat(hiveAmount)
    marketStore.market.marketStats.hiveUsd = (hbdPerHive * tokenPricesStore.hbdPrice).toFixed(4)
    marketStore.market.marketStats.hiveUsdSource = 'Coingecko (HBD)'
  }

  const onClickHiveUsdWitnesses = async () => {
    let witnesses = await getWitnesses('', 20)
    let priceFeedArray = witnesses.map(witness => parseFloat(witness.hbd_exchange_rate.base))
    const average = arr => arr.reduce((p, c) => p + c, 0) / arr.length
    marketStore.market.marketStats.hiveUsd = average(priceFeedArray).toFixed(4)
    marketStore.market.marketStats.hiveUsdSource = 'Witness Feed (HIVE)'
  }

  const onClickHiveUsdCustom = async () => {
    const value = parseFloat(window.prompt('Custom HIVE price in USD:'))
    if (value > 0) {
      marketStore.market.marketStats.hiveUsd = value.toFixed(4)
      marketStore.market.marketStats.hiveUsdSource = 'Custom (HIVE)'
    }
  }

  const onClickHbdUsdForHiveUsdCustom = async () => {
    const value = parseFloat(window.prompt('Custom HBD price in USD:'))
    if (value > 0) {
      await marketStore.updateTradeHistory()
      const lastTrade = marketStore.market.tradeHistory.at(-1)
      const hiveAmount = lastTrade.current_pays.includes('HIVE') ? lastTrade.current_pays.split(' ')[0] : lastTrade.open_pays.split(' ')[0]
      const hbdAmount = lastTrade.current_pays.includes('HBD') ? lastTrade.current_pays.split(' ')[0] : lastTrade.open_pays.split(' ')[0]
      const hbdPerHive = parseFloat(hbdAmount) / parseFloat(hiveAmount)
      marketStore.market.marketStats.hiveUsd = (value * hbdPerHive).toFixed(4)
      marketStore.market.marketStats.hiveUsdSource = 'Custom (HBD)'
    }
  }

  const onClickHbdUsdforHiveUsdWitnesses = async () => {
    await marketStore.updateTradeHistory()
    const lastTrade = marketStore.market.tradeHistory.at(-1)
    const hiveAmount = lastTrade.current_pays.includes('HIVE') ? lastTrade.current_pays.split(' ')[0] : lastTrade.open_pays.split(' ')[0]
    const hbdAmount = lastTrade.current_pays.includes('HBD') ? lastTrade.current_pays.split(' ')[0] : lastTrade.open_pays.split(' ')[0]
    const hbdPerHive = parseFloat(hbdAmount) / parseFloat(hiveAmount)
    marketStore.market.marketStats.hiveUsd = hbdPerHive.toFixed(4)
    marketStore.market.marketStats.hiveUsdSource = 'Witness Feed (HBD)'
  }

  const onClickHbdUsdCoingecko = async () => {
    await tokenPricesStore.refreshTokenPrices()
    marketStore.market.marketStats.hbdUsd = tokenPricesStore.hbdPrice.toFixed(4)
    marketStore.market.marketStats.hbdUsdSource = 'CoinGecko (HBD)'
  }

  const onClickHbdUsdWitnesses = async () => {
    let witnesses = await getWitnesses('', 20)
    let priceFeedArray = witnesses.map(witness => parseFloat(witness.hbd_exchange_rate.base))
    const average = arr => arr.reduce((p, c) => p + c, 0) / arr.length
    const hiveWitnessPrice = average(priceFeedArray).toFixed(4)
    await marketStore.updateTradeHistory()
    const lastTrade = marketStore.market.tradeHistory.at(-1)
    const hiveAmount = lastTrade.current_pays.includes('HIVE') ? lastTrade.current_pays.split(' ')[0] : lastTrade.open_pays.split(' ')[0]
    const hbdAmount = lastTrade.current_pays.includes('HBD') ? lastTrade.current_pays.split(' ')[0] : lastTrade.open_pays.split(' ')[0]
    const hivePerHbd = parseFloat(hiveAmount) / parseFloat(hbdAmount)
    marketStore.market.marketStats.hbdUsd = (hivePerHbd * hiveWitnessPrice).toFixed(4)
    marketStore.market.marketStats.hbdUsdSource = 'Witness Feed (HIVE)'
  }

  const onClickHbdUsdCustom = async () => {
    const value = parseFloat(window.prompt('Custom HBD price in USD:'))
    if (value > 0) {
      marketStore.market.marketStats.hbdUsd = value.toFixed(4)
      marketStore.market.marketStats.hbdUsdSource = 'Custom (HBD)'
    }
  }

  const onClickHiveUsdForHbdUsdCustom = async () => {
    const value = parseFloat(window.prompt('Custom HIVE price in USD:'))
    if (value > 0) {
      const lastTrade = marketStore.market.tradeHistory.at(-1)
      const hiveAmount = lastTrade.current_pays.includes('HIVE') ? lastTrade.current_pays.split(' ')[0] : lastTrade.open_pays.split(' ')[0]
      const hbdAmount = lastTrade.current_pays.includes('HBD') ? lastTrade.current_pays.split(' ')[0] : lastTrade.open_pays.split(' ')[0]
      const hivePerHbd = parseFloat(hiveAmount) / parseFloat(hbdAmount)
      marketStore.market.marketStats.hbdUsd = (value * hivePerHbd).toFixed(4)
      marketStore.market.marketStats.hbdUsdSource = 'Custom (HIVE)'
    }
  }

  const onClickHiveUsdCoingeckoForHbdUsd = async () => {
    await tokenPricesStore.refreshTokenPrices()
    let hiveUsd = tokenPricesStore.hivePrice?.toFixed(4)

    await marketStore.updateTradeHistory()
    const lastTrade = marketStore.market.tradeHistory.at(-1)
    if (lastTrade) {
      const hiveAmount = lastTrade.current_pays.includes('HIVE') ? lastTrade.current_pays.split(' ')[0] : lastTrade.open_pays.split(' ')[0]
      const hbdAmount = lastTrade.current_pays.includes('HBD') ? lastTrade.current_pays.split(' ')[0] : lastTrade.open_pays.split(' ')[0]
      const hivePerHbd = parseFloat(hiveAmount) / parseFloat(hbdAmount)

      marketStore.market.marketStats.hbdUsd = (hiveUsd * hivePerHbd).toFixed(4)
      marketStore.market.marketStats.hbdUsdSource = 'Coingecko (HIVE)'
    }
  }

  const onClickHiveUsdForHbdUsdWitnesses = async () => {
    marketStore.market.marketStats.hbdUsd = '1.0000'
    marketStore.market.marketStats.hbdUsdSource = 'Witness Feed (HBD)'
  }

  const updateHistory = debounce(async () => {
    tradeHistory.value = marketStore.market.tradeHistory
    if (tradeHistory.value[0] && tradeHistory.value[0].date) {
      tradeHistory.value = tradeHistory.value.reverse().map(trade => {
        return {
          ...trade,
          HIVE: parseFloat((trade.current_pays.includes('HIVE') ? trade.current_pays : trade.open_pays).split(' ')[0]).toFixed(3),
          HBD: parseFloat((trade.current_pays.includes('HBD') ? trade.current_pays : trade.open_pays).split(' ')[0]).toFixed(3),
          maker: trade.current_pays.split(' ')[1],
          taker: trade.open_pays.split(' ')[1]
        }
      })
    }
  }, '1000ms')

  onMounted(async () => {
    await Promise.all([marketStore.updateOrderBook(), marketStore.updateTradeHistory()])

    tokenPricesStore.refreshTokenPrices()

    volumes.value = await getVolume()
    marketStore.market.marketStats.hiveUsd = tokenPricesStore.hivePrice?.toFixed(4)
    marketStore.market.marketStats.hbdUsd = tokenPricesStore.hbdPrice?.toFixed(4)
    await onClickHiveUsdCoingeckoForHbdUsd()
    const lastTrade = marketStore.market.tradeHistory.at(-1)
    const hiveAmountLastTrade = lastTrade?.current_pays.includes('HIVE') ? lastTrade.current_pays.split(' ')[0] : lastTrade?.open_pays.split(' ')[0]
    const hbdAmountLastTrade = lastTrade?.current_pays.includes('HBD') ? lastTrade.current_pays.split(' ')[0] : lastTrade?.open_pays.split(' ')[0]
    hivePerHbd.value = (parseFloat(hiveAmountLastTrade) / parseFloat(hbdAmountLastTrade)).toFixed(4)
    hbdPerHive.value = (parseFloat(hbdAmountLastTrade) / parseFloat(hiveAmountLastTrade)).toFixed(4)
    await updateHistory()

    refreshTimer.value = setInterval(async () => {
      switch (marketStore.market.marketStats.hiveUsdSource) {
        case 'CoinGecko (HIVE)':
          await onClickHiveUsdCoingecko()
          break
        case 'CoinGecko (HBD)':
          await onClickHbdUsdForHiveUsdCoingecko()
          break
        case 'Witness Feed (HIVE)':
          await onClickHiveUsdWitnesses()
          break
        case 'Witness Feed (HBD)':
          await onClickHbdUsdforHiveUsdWitnesses()
          break
      }
      switch (marketStore.market.marketStats.hbdUsdSource) {
        case 'CoinGecko (HIVE)':
          await onClickHiveUsdCoingeckoForHbdUsd()
          break
        case 'CoinGecko (HBD)':
          await onClickHbdUsdCoingecko()
          break
        case 'Witness Feed (HIVE)':
          await onClickHbdUsdWitnesses()
          break
        case 'Witness Feed (HBD)':
          await onClickHiveUsdForHbdUsdWitnesses()
          break
      }

      await updateHistory()

      await Promise.all([marketStore.updateOrderBook(), marketStore.updateTradeHistory()])
    }, 5000)
  })

  onUnmounted(async () => {
    if (refreshTimer.value) {
      clearInterval(refreshTimer.value)
    }
  })
</script>
