<template>
  <TransitionRoot as="template" :show="show">
    <Dialog as="div" class="relative z-10" @close="$emit('close')">
      <TransitionChild
        as="template"
        enter="ease-out duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div class="fixed inset-0 bg-gray-500 dark:bg-slate-900 bg-opacity-75 transition-opacity" />
      </TransitionChild>

      <div class="fixed z-10 inset-0">
        <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100"
            leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          >
            <DialogPanel
              class="overflow-x-auto relative bg-white dark:bg-slate-800 rounded-lg pb-4 text-left overshadow-xl transform transition-all sm:my-8 sm:max-w-2/3 sm:w-2/3"
            >
              <div class="flex flex-col place-content-center">
                <div class="max-h-[75vh] overflow-y-auto break-words">
                  <template v-for="group in groups" :key="group.name">
                    <div class="px-4 py-5 sm:px-8">
                      <h3 class="text-xl leading-6 font-medium text-gray-900 dark:text-gray-100">
                        {{ group.desc }}
                      </h3>
                    </div>

                    <div class="border-t border-gray-200 dark:border-slate-700">
                      <dl>
                        <div
                          v-for="(field, index) in group.fields"
                          :key="field.name"
                          class="dark:bg-slate-700/30 border-b border-gray-200 dark:border-slate-700 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-8"
                          :class="index % 2 === 1 ? 'bg-white dark:bg-slate-800' : 'bg-gray-50 dark:bg-slate-700/30'"
                        >
                          <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">
                            {{ field.name }}
                          </dt>
                          <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-2">
                            {{ field.value }}
                          </dd>
                        </div>
                      </dl>
                    </div>
                  </template>
                </div>

                <!-- Close button -->
                <div class="px-4 pt-4 sm:flex sm:flex-row-reverse border-t border-gray-200 dark:border-slate-700">
                  <button
                    @click="$emit('close')"
                    type="button"
                    class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-gray-700 shadow-sm px-4 py-2 bg-white dark:bg-slate-700 text-base font-medium text-gray-700 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-200 sm:mt-0 sm:w-auto sm:text-sm"
                  >
                    Close
                  </button>
                </div>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup lang="ts">
  import { splitAndCapitalize, formatCurrency } from '~/common/helpers/formatter'
  import { parseAmount, vestToHive as convertVestToHive } from '~/common/helpers/hiveFunctions'
  import { useChainPropertiesStore } from '~/stores/chainProperties'

  const props = defineProps<{
    account: object
    show: boolean
  }>()

  const chainPropertiesStore = useChainPropertiesStore()

  const dynamicGlobalProperties = computed(() => chainPropertiesStore.dynamicGlobalProperties)
  const totalVestingShares = computed(() => parseAmount(dynamicGlobalProperties.value && dynamicGlobalProperties.value.total_vesting_shares))
  const totalVestingFundHive = computed(() => parseAmount(dynamicGlobalProperties.value && dynamicGlobalProperties.value.total_vesting_fund_hive))

  const vestToHive = (vestingShares: any, mega?: boolean) => {
    vestingShares = parseFloat(vestingShares)
    if (mega) {
      vestingShares = vestingShares / 1000000
    }
    const hp = convertVestToHive(totalVestingFundHive.value, vestingShares, totalVestingShares.value)
    return `${formatCurrency(hp, '0,0.000')} HP`
  }

  enum Categories {
    CREATION = 'Account Creation',
    GENERAL = 'General',
    HIVE = 'HIVE Token',
    HBD = 'HBD Token',
    HP = 'Staked HIVE (HP)',
    REWARD_POOL = 'Hive Reward Pool',
    AUTHORITIES = 'Keys and Authorities',
    GOVERNANCE = 'Governance',
    SOCIAL = 'Social',
    OTHERS = 'Others'
  }

  const fields = Object.keys(props.account).map(key => {
    switch (key) {
      // Account Creation
      case 'name':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.CREATION,
          pos: 1
        }
      case 'id':
        return {
          name: key.toUpperCase(),
          value: props.account[key],
          category: Categories.CREATION,
          pos: 2
        }
      case 'created':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.CREATION,
          pos: 3
        }
      case 'mined':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.CREATION,
          pos: 4
        }

      // General
      case 'json_metadata':
      case 'posting_json_metadata':
      case 'last_owner_update':
      case 'last_account_update':
      case 'recovery_account':
      case 'last_account_recovery':
      case 'reset_account':
      case 'pending_claimed_accounts':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.GENERAL
        }

      // HIVE Token
      case 'balance':
      case 'savings_balance':
      case 'reward_hive_balance':
        return {
          name: splitAndCapitalize(key),
          value: formatCurrency(props.account[key], '0,0.000', true),
          category: Categories.HIVE
        }
      case 'open_recurrent_transfers':
      case 'pending_transfers':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.HIVE
        }

      // HBD Token
      case 'hbd_balance':
      case 'savings_hbd_balance':
      case 'hbd_last_interest_payment':
      case 'hbd_seconds':
      case 'hbd_seconds_last_update':
      case 'savings_hbd_seconds':
      case 'savings_hbd_seconds_last_update':
      case 'savings_hbd_last_interest_payment':
      case 'savings_withdraw_requests':
      case 'reward_hbd_balance':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.HBD
        }

      // Staked HIVE (HP)
      case 'vesting_shares':
      case 'received_vesting_shares':
      case 'delegated_vesting_shares':
      case 'withdraw_routes':
      case 'vesting_withdraw_rate':
        return {
          name: splitAndCapitalize(key),
          value: `${vestToHive(props.account[key])} (${formatCurrency(props.account[key], '0,0.000', true)} VESTS)`,
          category: Categories.HP
        }
      case 'post_voting_power':
        return {
          name: splitAndCapitalize(key),
          value: `${vestToHive(props.account[key])} (${formatCurrency(props.account[key], '0,0.000')} VESTS)`,
          category: Categories.HP
        }
      case 'to_withdraw':
      case 'withdrawn':
        return {
          name: splitAndCapitalize(key),
          value: `${vestToHive(props.account[key], true)} (${formatCurrency(parseFloat(props.account[key]) / 1000000, '0,0.000', true)} VESTS)`,
          category: Categories.HP
        }
      case 'next_vesting_withdrawal':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.HP
        }
      // Hive Reward Pool
      case 'reward_vesting_balance':
        return {
          name: splitAndCapitalize(key),
          value: `${vestToHive(props.account[key])} (${formatCurrency(props.account[key], '0,0.000', true)} VESTS)`,
          category: Categories.REWARD_POOL,
          pos: 1
        }
      case 'reward_vesting_hive':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.REWARD_POOL,
          pos: 2
        }
      case 'posting_rewards':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.REWARD_POOL,
          pos: 3
        }
      case 'curation_rewards':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.REWARD_POOL,
          pos: 4
        }
      case 'voting_power':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.REWARD_POOL,
          pos: 5
        }
      case 'voting_manabar':
      case 'downvote_manabar':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.REWARD_POOL
        }

      // Authorities
      case 'owner':
      case 'active':
      case 'posting':
      case 'memo_key':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.AUTHORITIES
        }

      // Governance
      case 'witnesses_voted_for':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.GOVERNANCE,
          pos: 1
        }
      case 'witness_votes':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.GOVERNANCE,
          pos: 2
        }
      case 'governance_vote_expiration_ts':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.GOVERNANCE,
          pos: 3
        }
      case 'can_vote':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.GOVERNANCE,
          pos: 4
        }
      case 'proxy':
      case 'proxied_vsf_votes':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.GOVERNANCE
        }

      // Social
      case 'post_count':
      case 'post_history':
      case 'last_post':
      case 'last_root_post':
      case 'last_vote_time':
      case 'comment_count':
      case 'reputation':
      case 'guest_bloggers':
        return {
          name: splitAndCapitalize(key),
          value: props.account[key],
          category: Categories.SOCIAL
        }

      // Others
      default:
        return { name: key, value: props.account[key], category: Categories.OTHERS }
    }
  })

  const groups = (Object.keys(Categories) as Array<keyof typeof Categories>).map(key => {
    return {
      name: key,
      desc: Categories[key],
      fields: fields.filter(f => f.category === Categories[key]).sort((a, b) => (a.pos || 999) - (b.pos || 999))
    }
  })
</script>
