<template>
  <Combobox as="div" v-model="selectedElement">
    <div class="relative">
      <ComboboxInput
        class="w-full rounded-md border dark:text-gray-300 border-gray-300 dark:border-slate-500 bg-white dark:bg-slate-800 py-2 pl-3 pr-10 shadow-sm focus:border-emerald-500 dark:focus:border-emerald-100 focus:outline-none focus:ring-1 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:text-sm"
        @change="query = $event.target.value"
        :display-value="element => element?.name"
      ></ComboboxInput>
      <ComboboxButton class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none">
        <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true"></SelectorIcon>
      </ComboboxButton>

      <ComboboxOptions
        v-if="filteredElements.length > 0"
        class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white dark:bg-slate-800 py-1 text-base shadow-lg ring-1 ring-black dark:ring-slate-700 ring-opacity-5 focus:outline-none sm:text-sm"
      >
        <ComboboxOption v-for="element in filteredElements" :key="element.name" :value="element" as="template" v-slot="{ active, selected }">
          <li
            :class="[
              'relative cursor-default select-none py-2 pl-3 pr-9',
              active ? 'bg-emerald-600 dark:bg-emerald-400 text-white dark:text-slate-800' : 'text-gray-900 dark:text-gray-100'
            ]"
          >
            <div class="flex items-center">
              <span v-if="element.color" :class="['inline-block h-2 w-2 flex-shrink-0 rounded-full', element.color]" aria-hidden="true"></span>
              <span :class="['ml-3 truncate', selected && 'font-semibold']">
                {{ element.name }}
              </span>
            </div>

            <span
              v-if="selected"
              :class="[
                'absolute inset-y-0 right-0 flex items-center pr-4',
                active ? 'text-white dark:text-slate-800' : 'text-emerald-600 dark:text-emerald-400'
              ]"
            >
              <CheckIcon class="h-5 w-5" aria-hidden="true"></CheckIcon>
            </span>
          </li>
        </ComboboxOption>
      </ComboboxOptions>
    </div>
  </Combobox>
</template>

<script setup lang="ts">
  import { CheckIcon, SelectorIcon } from '@heroicons/vue/solid'

  const props = defineProps<{
    elements: Array<any>
    current: string
  }>()

  const selectedElement = ref(props.elements?.find(e => e.value === props.current))

  const query = ref('')
  const filteredElements = computed(() =>
    !query.value ? props.elements : props.elements.filter(e => e.name.toLowerCase().includes(query.value.toLowerCase()))
  )

  const emit = defineEmits(['change'])

  watch(props, () => {
    if (!selectedElement.value) {
      selectedElement.value = props.elements?.find(e => e.value === props.current)
    }
  })
  watch(selectedElement, () => {
    emit('change', selectedElement.value.value)
  })
</script>
